a.rh-button {
	background-color: #d31a1a;
	color: #fff;

	padding: 8px 16px;
	border-radius: 4px;

	font-family: 'Bahnschrift';
	text-decoration: none;
	cursor: pointer;

	box-shadow: 0px 4px 4px 0px #0000001a;

	transition: all linear 0.2s;
}

a.rh-button:hover {
	background-color: #c21717;
	box-shadow: 0px 4px 4px 0px #0000003d;
}